@import "tailwindcss";

@theme inline {
  /* Fonts */
  --font-heading: var(--font-poppins);
  --font-body: var(--font-satoshi);
  --font-logo: var(--font-clash);

  /* Colors from Figma */
  --color-primary: #003be2;
  --color-lime: #d4fb20;
  --color-shuttle-50: #f5f5f6;
  --color-shuttle-100: #e5e6e8;
  --color-shuttle-200: #ced0d3;
  --color-shuttle-400: #82868e;
  --color-shuttle-700: #4b4c53;
  --color-shuttle-950: #242528;
}